.home-container {
    padding: 20px;

    .home-title {
        font-size: 50px;
        margin-bottom: 30px;
        text-align: center;
        color: #333;
    }

    .games-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .checkbox-container {
        display: flex;
        flex-wrap: wrap; 
        gap: 15px; 
        justify-content: center;  
        align-items: center; 
        margin: 15px 15px;

        label {
            display: flex;
            align-items: center; 
            font-size: 1rem;
            color: #333;
            cursor: pointer;
            transition: color 0.3s ease;

            input {
                margin-right: 8px; 
                width: 18px;
                height: 18px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:checked {
                    background-color: #007BFF; 
                    border-color: #007BFF;
                }

                &:focus {
                    outline: none; 
                    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
                }
            }

            &:hover {
                color: #007BFF; 
            }
        }
    }

    .input {
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        outline: none;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;

        &:focus {
            border-color: #007BFF;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
        }

        &:not(:placeholder-shown) {
            background-color: #f9f9f9;
        }

        &::placeholder {
            color: #aaa;
            font-style: italic;
        }
    }
}
